:root {
  --surface-color: #FFFFFF;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #E8F9FD;
}




.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {      
  width: 100%;
  height: 410px;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #5EA7B1;
}

.card__status {
  font-size: .8em;
  color: #000;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #5EA7B1;
  font-family: "MockFlowFont";   
    
}

#portada {
  height: 95vh;
  width: 100%;
  background-color: #FFFFFF;
  position: relative;
  overflow: hidden;
}

#wave-portada {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
  height: 670px;
}





#portada-container {
  height: 100%;
  width: 100%;
  padding: 0px 120px 0px 120px;
}

#port-cont-1 {
  width: 50%;
}

#port-cont-2 {
  position: static;
  z-index: 16;
}

#tittle-portada {
  font-size: 50px;
  font-weight: 600;
  z-index: 15;
  position:relative;
  z-index:15; 
}
 
.encabezado {
  font-size: 50px;
  font-weight: 600;
  margin-top: 100px;
}



@media (max-width: 800px) {
#portada-container {
  display: flex;
  flex-direction: column;
  padding: 0px 40px 0px 40px;
  margin-bottom: 100;
}

#card-section{
  padding-top: 100px;
}


#port-cont-1 {
  width: 90%;
  margin-top: 120px;
}
#tittle-portada {
  text-align: center;
}
}

@media (max-width: 480px) {
  
  #portada {
    height: 90vh;
    overflow: hidden;
  }
  
  #wave-portada{
    height: 500px;
  }
  
  #portada-container {
    display: flex;
    flex-direction: column;
    padding: 0px 20px 0px 20px;
  }
  
  #tittle-portada {
    font-size: 33px;
    text-align: center;
  }

  #port-cont-1 {
    width: 100%;
  }
  .encabezado{
    font-size: 33px;
    text-align: center;
    margin-top: 0px;
  }
  }