body {
    font-family:'Lexend', sans-serif;
}

#portada {
    height: 90vh;
    width: 100%;
    background-color: #e8f9fd;
    position: relative;
    overflow: hidden;
}

#wave-portada {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
    height: 670px;
}

#portada-container {
    height: 100%;
    width: 100%;
    padding: 0px 120px 0px 120px;
}

#port-cont-1 {
    width: 50%;
}

#port-cont-2 {
    position: static;
    z-index: 16;
}

#tittle-portada {
    font-size: 50px;
    font-family:'Lexend', sans-serif;
    font-weight: 600;
    z-index: 15;
    position: relative;
    z-index: 15;
}

#subtittle-portada {
    font-size: 30px;
    font-family:'Lexend', sans-serif;
    font-weight: 600;
    z-index: 15;
    position: relative;
    z-index: 15;
}

.encabezado {
    font-size: 50px;
    font-weight: 600;
    margin-top: 100px;
}
.search-container{
    width: 662px;
    height: 62px;
    border-radius: 50px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content:center;
    z-index: 15;

} 

.especialidad-wrapper{
    display: flex;
    flex-direction: row;
    width: 55%;
    justify-content: space-evenly;
    padding-left: 1rem;
    padding-right: 1rem;
    border-right: solid #E8F9FD;
}

.especialidad-search{
   width: 80%;
   align-items: center;
    align-self:center;
}

.esteto-icon{
    display: block;
    margin: auto;
}


.buscador{
    width: 100%;
    border: solid;
    border-color: #fff;
    font-size: 23px;
    color: #AFADAD;
 
}

.esteto-icon-wrapper{
    width: 20%;
    align-items: center;
    align-content:center;
    justify-content: center;
    justify-self: center;
}

.ciudad-wrapper{
    display: flex;
    flex-direction: row;
    width: 45%;
    justify-content: space-between;
}



.ciudad-icon-wrapper{
    width: 20%;
}

.ciudad-search{
    width: 60%;
    align-items: center;
    align-self:center;
}

.ciudad{
    width: 100%;
    border: solid;
    border-color: #fff;
    font-size: 23px;
    color: #AFADAD;
}
.lens-icon-wrapper{
    width: 20%;
}