.bg-azul {
    background-color: #79d9e8;
}
.color-azul {
    color: #79dae8 !important;
}
#main_hamburger_menu_btn {
    border: none;
    background-color: transparent;
    width: 70%;
}
#main_hamburger_menu_btn svg {
    width: 100%;
}

.main_hamburger_menu_container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.144);
    top: 0;
    left: 0;
    display: none;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    z-index: 20;
}

.main_hamburger_menu_container_aside {
    height: 100vh;
    width: 100%;
}

@media (min-width: 768px) {
    .main_hamburger_menu_container_aside {
        width: 50vw;
    }
}

@media (min-width: 1000px) {
    .main_hamburger_menu_container_aside {
        width: 25vw;
    }
}

#close_main_hamburger_menu {
    border: none;
    background-color: transparent;
    color: #ffffff;
    font-weight: bolder;
    font-size: 35px;
}

.main_hamburger_menu a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    width: 100%;
    transition: all 0.3s ease-in-out;
    text-align: center;
    padding: 0 10px;
}
@media (min-width: 800px) {
    .main_hamburger_menu a:hover {
        background-color: #ffffff;
        color: #79d9e8;
        padding-left: 50px;
    }
}

.icon-estetoscopio svg {
    width: 45px;
}
.navbar-brand svg {
    width: 100%;
    height: 25px;
}
@media (min-width: 600px) {
    .navbar-brand svg {
        width: 100%;
        height: 45px;
    }

    .header-space {
        justify-content: space-between !important;
    }
}

/**animation**/

.entry-to-left {
    animation: entry-to-left 0.7s;
}

@keyframes entry-to-left {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

.exit-to-right {
    animation: exit-to-right 0.7s;
}

@keyframes exit-to-right {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}
