
body {
    font-family:'Lexend', sans-serif;
}

#containerTyC{
   background-color: #e8f9fd;
   margin: 80px;
   padding: 50px;
}

#text_TyC{
    font-family: 'Lexend', sans-serif;
    text-align: justify;
    font-size: 15px;

}

#title-tyc{
font-size: 16px;
}

@media (max-width: 1400px){
    #containerTyC{
        background-color: #e8f9fd;
        margin: 100px;
        padding: 70px;
     }
     #text_TyC{
         font-family: 'Lexend', sans-serif;
         text-align: justify;
         font-size: 12px;
     }
     #title-tyc{
        font-size: 13px;
        }
}


@media (max-width: 980px){
    #containerTyC{
        background-color: #e8f9fd;
        margin: 60px;
        padding: 40px;
     }
     #text_TyC{
         font-family: 'Lexend', sans-serif;
         text-align: justify;
         font-size: 11px;
     }
     #title-tyc{
        font-size: 12px;
        }
}

@media (max-width: 580px){
    #containerTyC{
        background-color: #e8f9fd;
        margin: 30px;
        padding: 10px;
     }

     #text_TyC{
         font-family: 'Lexend', sans-serif;
         text-align: justify;
         font-size: 8px;
     }
     #title-tyc{
        font-size: 10px;
        }
}
